@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
  --header-height: 56px;
  --separator-line-width: 1px;
  --separator-line-style: solid;
  --separator-line-color: rgba(0, 0, 0, 0.1);
  --gray-1: #606060;
  --gray-2: rgb(144, 144, 144);
  --gray-3: rgb(96, 96, 96);
  --gray-4: rgb(3, 3, 3);
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #f9f9f9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  margin: 0 24px;
}

.bottom-separator {
  border-bottom-width: var(--separator-line-width);
  border-bottom-style: var(--separator-line-style);
  border-bottom-color: var(--separator-line-color);
}

.header {
  position: fixed;
  width: 100%;
  height: var(--header-height);
  z-index: 1;
  padding: 8px 8px 8px;
  background-color: rgba(255, 255, 255, 0.9);
}

.menu {
  --menu-item-height: 40px;
  height: 100%;
  width: 100%;
  min-width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--gray-1);
}

.menu li {
  height: 40px;
}

.menu-item a {
  text-decoration: none;
  color: currentColor;
}

.menu-item svg,
button {
  display: block;
  width: auto;
  height: var(--menu-item-height);
}

.menu-item svg {
  padding: 8px;
  fill: currentColor;
}

.nav-menu-item {
  margin-right: 16px;
}

.yt-menu-item div {
  display: flex;
  align-items: center;
}

.yt-menu-item svg {
  display: block;
  padding-right: 3px;
  padding-left: 0;
}

.yt-menu-item span {
  align-self: flex-start;
  display: block;
  font-size: 10px;
  font-family: Roboto, sans-serif;
  padding-top: 8px;
}

.center-menu-item {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.sign-in-menu-item {
  color: #065fd4;
}

.sign-in-menu-item button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  background-color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.007px;
  border: 1px solid currentColor;
  border-radius: 2px;
  padding: 5px 11px;
  transition: all 0.5s;
}

.sign-in-menu-item button:active,
.sign-in-menu-item button:focus {
  outline: none;
}

.sign-in-menu-item button:active {
  background-color: #999;
  transition: all 0.5s;
}

.sign-in-menu-item svg {
  padding: 0;
  height: 24px;
}

.sign-in-menu-item span {
  white-space: nowrap;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  margin-left: 8px;
}

.primary {
  padding-top: calc(24px + var(--header-height));
}

.video-box-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  /*padding-top: 62.5%;*/ /* Youtube Aspect Ratio: 56.25%; */
  padding-top: 56.25%;
}

.video-box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.info-contents {
  padding-top: 20px;
}

.info-hashtags {
  font-size: 0.8rem;
  line-height: 1rem;
  max-height: 2rem;
  overflow: hidden;
}

.info-hashtags a {
  text-decoration: none;
}

.info-hashtags span:not(:last-child) {
  margin-right: 0.2rem;
}

.info-title {
  background-color: transparent;
}

.info-title h1 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: normal;
  line-height: 1.5rem;
  max-height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  /* white-space: nowrap; */
}

.info-menu {
  --info-menu-item-height: 40px;
  display: flex;
  justify-content: flex-end;
  color: var(--gray-2);
}

.info-menu div {
  padding-top: 8px;
  padding-bottom: 8px;
}

.info-menu > div + div {
  margin-left: 14px;
}

.info-menu svg {
  display: block;
  width: auto;
  height: var(--info-menu-item-height);
  padding: 8px;
  fill: currentColor;
}

.info-views {
  flex-grow: 1;
  font-size: 0.9rem;
}

.hide {
  display: none;
}

.info-element {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 500;
}

.info-likes {
  position: relative;
}

.info-likes span:first-of-type {
  margin-right: 12px;
}

.info-likes::before,
.info-likes::after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
}

.info-likes::before {
  background-color: #444;
  right: 20%;
  z-index: 1;
}

.info-likes::after {
  background-color: #aaa;
  width: 100%;
}

.info-share span,
.info-save span {
  text-transform: uppercase;
}

.secondary-info-contents {
  display: grid;
  grid-template-columns: min-content auto min-content;
  grid-template-rows: min-content auto;
  grid-template-areas:
    "avatar channel-title subscribe"
    "avatar description description";
  padding: 22px 0 16px;
  margin-bottom: 24px;
}

.secondary-info-avatar {
  grid-area: avatar;
  padding-right: 16px;
}

.secondary-info-avatar img {
  width: 48px;
  height: auto;
  border-radius: 50%;
}

.secondary-info-channel-title {
  grid-area: channel-title;
  margin-right: 8px;
}

.channel-title {
  display: flex;
  align-items: center;
}

.channel-title a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}

.channel-title a:link,
.channel-title a:visited,
.channel-title a:hover,
.channel-title a:active,
.channel-title a:focus {
  color: var(--gray-4);
}

.channel-title svg {
  margin-bottom: -4px;
}

.channel-verified-badge {
  width: 13px;
  height: auto;
  margin-left: 4px;
  color: var(--gray-3);
  fill: var(--gray-3);
}

.subscribers {
  font-size: 0.8rem;
  color: var(--gray-3);
  white-space: nowrap;
}

.secondary-info-subscribe {
  grid-area: subscribe;
}

.secondary-info-subscribe-btn {
  padding: 10px 16px;
  color: #fff;
  background-color: rgb(204, 0, 0);
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.007px;
  border: none;
  border-radius: 2px;
}

.secondary-info-description {
  grid-area: description;
}

.secondary-info-text-content {
  margin: 1.2rem 0 1.6rem;
  line-height: 1.2rem;
  max-height: 2.4rem;
  font-size: 0.9rem;
  overflow: hidden;
}

.secondary-info-showmore {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

.secondary-info-showmore a {
  text-decoration: none;
}

.secondary-info-showmore a:link,
.secondary-info-showmore a:visited,
.secondary-info-showmore a:hover,
.secondary-info-showmore a:active,
.secondary-info-showmore a:focus {
  color: var(--gray-3);
}

.secondary {
}

.up-next {
  margin-bottom: 16px;
  padding-bottom: 8px;
}

.up-next-header {
  display: flex;
  margin-bottom: 12px;
}

.up-next-text {
  flex-grow: 1;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  color: var(--gray-4);
}

.up-next-autoplay-container span {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--gray-3);
}

.video-suggestion {
  margin: 0 0 8px;
}

.video-suggestion a {
  text-decoration: none;
}

.video-suggestion a:link,
.video-suggestion a:visited,
.video-suggestion a:hover,
.video-suggestion a:active,
.video-suggestion a:focus {
  color: var(--gray-4);
}

.video-suggestion-content {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: repeat(4, min-content);
  column-gap: 8px;
}

.video-suggestion-thumbnail {
  position: relative;
  width: 168px;
  height: auto;
}

.video-suggestion-thumbnail::before {
  content: attr(data-duration);
  position: absolute;
  right: 4px;
  bottom: 8px;
  padding: 1px 4px;
  font: 400 14px Roboto;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
}

.video-suggestion-title {
  margin: 0 0 4px;
  max-height: 2.4rem;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.2rem;
  overflow: hidden;
}

.video-suggestion-channel-title {
  display: flex;
  align-items: center;
  line-height: 18px;
  font-size: 13px;
  font-weight: 400;
  color: var(--gray-3);
  overflow: hidden;
}

.video-suggestion-views {
  line-height: 18px;
  font-size: 13px;
  font-weight: 400;
  color: var(--gray-3);
  overflow: hidden;
}

.video-suggestion-new-badge {
  width: min-content;
  padding: 3px 4px;
  line-height: 12px;
  font-size: 12px;
  font-weight: 500;
  color: var(--gray-3);
  background-color: rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

@media only screen and (min-width: 660px) {
  .header {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media only screen and (min-width: 539px) {
  .hide-s {
    display: none;
  }

  .show-s {
    display: block;
  }
}

@media only screen and (min-width: 648px) {
  .hide-m {
    display: none;
  }

  .show-m {
    display: block;
  }
}
